Source: ghostty
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 blueprint-compiler,
 chrpath,
 debhelper-compat (= 13),
 gcc-multilib [amd64],
 gettext,
 libadwaita-1-dev,
 libfontconfig-dev,
 libfreetype-dev,
 libharfbuzz-dev,
 libgtk-4-dev,
 libgtk4-layer-shell-dev,
 libpng-dev,
 libxml2-utils,
 pandoc,
 pkgconf,
 zig0.15,
 zlib1g-dev,
Standards-Version: 4.7.2
Homepage: https://ghostty.org
Vcs-Browser: https://git.launchpad.net/~pushkarnk/+git/ghostty
Vcs-Git: https://git.launchpad.net/~pushkarnk/+git/ghostty

Package: ghostty
Architecture: amd64 arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Fast, feature-rich, and cross-platform terminal emulator
 Ghostty is a terminal emulator that differentiates itself by being fast,
 feature-rich and native. While there are many excellent terminal emulators
 available, they all force you to choose between speed, features, or native
 UIs. Ghostty provides all three.
